*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
    font-size: 1rem;
    transition: 0.4s;


}
button:hover{
    opacity: 1;
}
#fadem #modal{
    transition: .6s;
    opacity: 1;
    pointer-events: all;
}
#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    width: 500px;
    padding: 1.2rem;
    border-radius: .5rem;

}
#close-modal{
    padding: .4rem;
}
#close-modal:hover{
background-color: rgb(228, 13, 13);
}
.butenviar{
    padding-top: .5rem;
}
.butenviar button{
    padding: .4rem;
    align-items: center;
}
.butenviar button:hover{
    background-color: rgb(228, 13, 13);
    
}
.header-modal{
     display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
#modal.esconder,
#fade.esconder{
    opacity: 0;
    pointer-events: none;
}

input[type=text] {
    width: 80%;
    padding: 3px;
}
input[type=email] {
    margin-top: 1rem;
    width: 80%;
    padding: 3px;
    }
#modal.esconder{
top: 0;
}

